<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="../_assets/bootstrap.css"/>
	<link rel="stylesheet" href="../_assets/app.css"/>
</head>
<body ng-app="myApp">

	<div ng-controller="myCtrl as ctrl">

		<h1>Articles</h1>

		<p class="bg-info">guzik powinien zmieniać sortowanie artykułów</p>
		<button class="btn btn-default">zmień sortowanie artykułów</button>

		<div ng-repeat="article in articles">
			<h2>{{ article.name }}</h2>
			<img ng-src="{{ article.img }}" alt=""/>
		</div>

	</div>

	<script src="../_assets/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>