<form name="myForm">
	<div class="form-group" ng-class="{error: myForm.name.$invalid && !myForm.name.$pristine}">
		<label>Name</label>
		<input type="text" class="form-control" name="name" ng-model="project.name" required>
        <span ng-show="myForm.name.$error.required && !myForm.name.$pristine" class="help-inline">
            Required {{myForm.name.$pristine}}</span>
	</div>

	<div class="form-group" ng-class="{error: myForm.site.$invalid && !myForm.site.$pristine}">
		<label>Website</label>
		<input type="url" class="form-control" name="site" ng-model="project.site" required>
        <span ng-show="myForm.site.$error.required && !myForm.site.$pristine" class="help-inline">
            Required</span>
        <span ng-show="myForm.site.$error.url" class="help-inline">
            Not a URL</span>
	</div>

	<div class="form-group">
		<label>Description</label>
		<textarea name="description" class="form-control" ng-model="project.description"></textarea>
	</div>

	<br>
	<a href="#/" class="btn">Cancel</a>
	<button ng-click="formCtrl.save()" ng-disabled="myForm.$invalid"
					class="btn btn-primary">Save</button>
	<button class="btn btn-danger">Delete</button>
	<span class="bg-info">dorób usuwanie - guzik powinien się pojawiać tylko na edycji</span>
</form>