<form action="" class="form-inline">
	<p class="bg-info">Dorób filtrowanie produktów po nazwie</p>
	<input type="text" class="form-control" placeholder="Filter projects">
</form>
<p>
	<a class="btn btn-primary" href="#/new">add</a>
</p>
<table class="table">
	<thead>
	<tr>
		<th>Project</th>
		<th>Description</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="project in projects">
		<td><a ng-href="{{project.site}}" target="_blank">{{project.name}}</a></td>
		<td>{{project.description}}</td>
		<td>
			<a class="btn btn-default">edit</a>
			<span class="bg-info">dorób edycję wykorzysując templatkę form.html</span>
		</td>
	</tr>
	</tbody>
</table>