<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="../_assets/bootstrap.css"/>
	<link rel="stylesheet" href="../_assets/app.css"/>
</head>
<body ng-app="myApp">

	<div ng-controller="myCtrl as ctrl">
		<input type="text" ng-model="model" /> <button ng-click="ctrl.controllerMethod()">clear model</button><br>
		model value: <strong>{{ model }}</strong><br>
	</div>

	<!--model is defined in myCtrl so model is empty--> {{ model }}

	<script src="../_assets/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>