<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="../_assets/bootstrap.css"/>
	<link rel="stylesheet" href="../_assets/app.css"/>
</head>
<body ng-app="myApp">

	<input type="text" ng-model="model" /> <br>
	model value: <strong>{{ model }}</strong><br>
	another way to show model value: <i ng-bind="model"></i>

	<script src="../_assets/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>