<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="../_assets/bootstrap.css"/>
	<link rel="stylesheet" href="../_assets/app.css"/>
</head>
<body ng-app="myApp">

  <div ng-controller="MainCtrl as ctrl">

    <h1>Current time example</h1>
    Current time is: <strong my-current-time="format"></strong> <a href="" class="btn btn-default" ng-click="ctrl.changeDateFormat()">change format</a>
		<span class="bg-info">dorób mechanizm zmiany formatu daty oparty na modalu</span>

    <project-list title="Lista projektów" projects="projects"></project-list>

  </div>

	<script src="../_assets/angular.js"></script>
  <script src="../_assets/angular-resource.min.js"></script>
	<script src="../_assets/angular-route.min.js"></script>
  <script src="../_assets/firebase.js"></script>
  <script src="../_assets/angularfire.min.js"></script>
  <script src="../_assets/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="../6-routing-and-real-backend/projects.js"></script>
  <script src="projectsDirectives.js"></script>
	<script src="app.js"></script>
</body>
</html>