<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{{ project.name }}</h3>
	</div>
	<div class="panel-body">
		{{ project.description }}
		<p class="bg-info">
			dorób inputa i button do edycji description "in place"
		</p>
	</div>
	<div class="panel-footer">{{ project.site }}</div>
</div>