<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
	<link rel="stylesheet" href="../_assets/bootstrap.css"/>
	<link rel="stylesheet" href="../_assets/app.css"/>
</head>
<body ng-app="myApp">

	<div ng-controller="FirstCtrl as first">
		<input type="text" ng-model="model.message" /><br/>
		model in first controller: {{ model.message }}
	</div>

	<hr/>

	<div ng-controller="SecondCtrl as second">
		<input type="text" ng-model="model.message" /><br/>
		model in second controller: {{ model.message }}
	</div>

	<script src="../_assets/angular.js"></script>
	<script src="app.js"></script>
</body>
</html>